<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevLib.ModernUI" version="2.17.8.0" targetFramework="net471" />
  <package id="MySql.Data" version="6.9.12" targetFramework="net471" />
  <package id="ServiceStack.Common" version="5.1.0" targetFramework="net471" />
  <package id="ServiceStack.Interfaces" version="5.1.0" targetFramework="net471" />
  <package id="ServiceStack.OrmLite" version="5.1.0" targetFramework="net471" />
  <package id="ServiceStack.OrmLite.MySql" version="5.1.0" targetFramework="net471" />
  <package id="ServiceStack.OrmLite.Sqlite.Windows" version="5.1.0" targetFramework="net471" />
  <package id="ServiceStack.OrmLite.T4" version="5.1.0" targetFramework="net471" />
  <package id="ServiceStack.Text" version="5.1.0" targetFramework="net471" />
  <package id="System.Data.SQLite.Core" version="1.0.108.0" targetFramework="net471" />
</packages>